/* .income-form{
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff; 
  border-radius: 15px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.633); 
  padding: 40px;
} */

h2{
  text-align: center;
  font-family: baskerville;
}

.income-form button {
  height: 38px; 
  width: 100%; 
}
