/* .container {
  max-width: 400px;
  margin: 0 auto;
}

.inputContainer {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.textInput {
width: 96%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.selectInput {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.addButton {
  margin-top: 5px;

  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
} */
