.metricas-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
   
}

.metricas-item {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding:5px
}

.metricas-button {
    align-self: center;
}
