@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    text-align: center;
    font-family: 'Poppins';
    /* background-image: url("../../assets/wave.png"); */
    background-size: cover;
  }

  .container-form{
    background-image: url("../../assets/security.svg");
    background-repeat: no-repeat;
    background-position: 5% 80%; 
    background-size: 500px;
    display:flex;
    justify-content:space-around;
    align-items: center;
    height: 100vh;
  }

  
  .text-login{
    font-size: 30px;
    text-align: center;
    padding: 5px;
  }

  .login-form {
    font-family: 'Poppins', sans-serif;
    max-width: 600px;
    
    margin: 0 auto;
    background-color: #fdfbfb; 
    border-radius: 15px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); 
    padding: 40px; 
  }

  .form-label {
    font-weight: 500;
  }


  .form-control {
    margin-bottom: 20px; 
  }

 

  .submit-button {
    width: 100%; 
  }

  .error-message {
    color: rgb(250, 26, 26); 
  }