@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.log-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}
  
  .log-form {
    font-family: 'Poppins', sans-serif;
    max-width: 400px;
    width: 380px;
    margin: 0 auto;
    background-color: rgba(0, 255, 191, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 40px;
   }

.submit {
    width: 100%;
    margin-bottom: 15px;
  }

   /* Animación de borde */
@keyframes borderAnimation {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

/* Estilo del borde animado */
.border-animation {
  border: 2px solid #007bff;
  animation: borderAnimation 3s infinite;
}
