/* .card-donacion-container {
  margin: 5vh auto;
}

.card-donacion {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5vh auto;
}

.card-donacion img {
  margin-top: 40px;
  width: 250px;
  height: 250px;
}

.card-donacion button {
  border: none;
  outline: 0;
  padding: 10px;
  color: white;
  background-color: rgb(106, 131, 131);
  text-align: center;
  cursor: pointer;
  width: 100px;
  font-size: 15px;
}

.card-donacion button:hover {
  opacity: 0.7;
} */