@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

.homeContainer {

    width: 100%;
    height: max-content;
    min-height: 100vh;
    /* background-color: red; */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.formSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content:space-around;
    
    margin-bottom: 40px;
}

.chartSection {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}