/* .page-item.active .page-link .visually-hidden {
    display: none;
}

.page-link span[aria-hidden="true"] {
    display: none;
} */

.pagination-container {
    display: flex;
    justify-content: center;
}