.container-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.card-container {
  max-width: 450px;
  width: 100%;
}

.card {
  border-radius: 15px;
}

.action-detail-button {
  font-size: 1.2rem;
  font-weight: bold;
  width: 30%;
  margin: 0 auto;
}

/* Establecer altura máxima y agregar barra de desplazamiento */
.card-body {
  max-height: 700px; /* Cambia este valor según tus necesidades */
  overflow-y: hidden; /* Agrega barra de desplazamiento vertical si el contenido excede la altura máxima */
}

/* Ajustar estilos para la descripción */
.form-group label {
  font-weight: bold;
}

.form-group input, .form-group p {
  margin-top: 5px; /* Espacio entre cada campo */
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.form-group input[type="text"], .form-group p {
  width: 100%;
}

.form-group p {
  max-height: 100px; /* Establecer altura máxima para la descripción */
  overflow-y: auto; /* Agregar barra de desplazamiento vertical si la descripción es muy larga */
}
