/* navBar.css */
.navbar {
  margin: 10px;
  border-radius: 16px;
  padding: 0.5rem;
  
}

.navbar-toggler {
  border: none;
}


.navbar-nav .nav-link {
  color: #666777;
  font-size: 20px;
  position: relative;
}

.navbar-nav .nav-link:hover {
  color: #000;
  font-weight: 500;
}

.navbar-nav .nav-link.active {
  color: #000000;
}


.navbar-toggler-icon {
  position: relative;
  z-index: 1; 
}

.profile-image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
}


@media (min-width: 991px) {
  .navbar-nav .nav-link:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #010101;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before {
    width: 95%;
    visibility: visible;
  }
}
